benchmark/
lib/
index.ts
test/
# TypeScript config files
tsconfig*.json
# ESLint config files
.eslintrc*
eslint.config.js
# release-it config files
.release-it.*
# Prettier config files
.prettierrc*
# GitHub folder
.github/
# Other development files
tslint.json
.circleci
.nyc_output/
profile.cpuprofile
coverage.lcov
